# Virtual environments
vlaenv/
venv/
env/

# Python cache
__pycache__/
*.pyc

# Jupyter notebooks
.ipynb_checkpoints/

# VS Code settings
.vscode/

# Environment variables
.env

# Logs
*.log

# Build / packaging
build/
dist/
*.egg-info/

# Dataset outputs
Dataset/
dataset/

lerobot_vla_dataset/
lerobot_vla_dataset_224/
lerobot_dataset_native/
dataset_2/
# Training outputs
models/checkpoints/
models/weights/
models/runs/

# Evaluation outputs
evaluation/results/

# MuJoCo cache
.mujoco/

# Torch cache
.cache/

# OS files
.DS_Store
Thumbs.db